name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'
    - run: gem install ocra
    - run: ocra risk_profiler_gui.rb --windows --no-enc --gem-full
    - uses: actions/upload-artifact@v4
      with:
        name: exe
        path: "*.exe"
